{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A Website to share your posts to inspire others."
    />
    <meta property="og:title" content="PostnSpire" />
    <meta
      property="og:description"
      content="A Website to share your posts to inspire others."
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{% static 'images/logoblog.png' %}">

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'styles/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <nav class="nav collapsible ">
        <a href="/"><img class="nav__brand" src="images/logo.svg" alt="" /></a>

        <svg class="icon icon--white nav__toggler">
          <use xlink:href="{% static 'images/sprite.svg#menu' %}"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
          <li class="nav__item"><a href="/">Home</a></li>
          {% if user.is_authenticated %}
          <li class="nav__item"><a href="edit/">Edit</a></li>
          <li class="nav__item"><a href="del/">Delete</a></li>
          <li class="nav__item"><a href="{% url 'blog-create' %}">Create</a></li>
          <li class="nav__item"><a href="{% url 'profile' user.username %}">{{user.username}}</a></li>
          <li class="nav__item"><a href="/users/logout">logout</a></li>
          {% else %}
          <li class="nav__item"><a href="{% url 'login' %}">Login</a></li>
          <li class="nav__item"><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
        {% block content %}
        {% endblock %}
      <footer class="footer">
        &copy; Copyright
        <p style="padding: 1rem 4rem; text-align: center">
          Designed and Developed by <b><i><a href="https://www.linkedin.com/in/akshay-shekkari-34441b17b/">@Akshay</a> <a href="https://linkedin.com/in/rajasekhar2307/">@Raja Sekhar</a> <a href="https://www.linkedin.com/in/rapolu-rahul-141ba21a0/">@Rahul Rapolu</a></i></b>
        </p>
      </footer>

      <script src="{% static 'js/script.js' %}"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
  </body>
</html>