{% extends 'base.html' %}
{% block content %}
<section class="inherited-form" style="min-height: 90vh;">
  <div class="form-container">
      <form id="form" method="post" class="form">
        {% csrf_token %}
      <h2>Update your Post</h2>
      <div class = "formcontrol">
        <label for="username">Title</label>
        <input type="text" value="{{ blog.title }}" placeholder="enter title of the blog" name="blogtitle" id="blogtitle" required>
        <small>Error Message</small>
      </div>
      <div class="formcontrol">
        <label for="content">blog</label>
        <textarea name="blogcontent" class="content-blog" type="text" placeholder="enter the details of the blog post" id="email" required>{{ blog.content }}</textarea>
        <small>Error Message</small>
      </div>
      <button class="fbtn" type="submit">POST</button>

      </form>
      </div>
      <script type="text/javascript" src="script.js"></script>
</section>
{% endblock content %}