{% extends 'base.html' %}

{% block head %}
<title>Ublog - Home</title>
{% endblock %}


{% block content %}
  <section class="project" id="projects">
    {% for post in blogs %}
    <div class="grid grid--1x2 projects">
      <div class="project--card" data-aos="fade-up">
        <h3 class="project--header">{{post.title}}</h3>
        <p class="project--content">
            <img class="card--image" src="{{ post.image.url }}" alt="">
        </p>
        
      </div>
      <div class="desc--card" data-aos="fade-up">
          <p class="meta-data">
            <span class="date--posted">{{post.date_posted|date:"M d, Y g:i A"}}</span>
            <a href="/users/{{post.author}}">@{{post.author}}</a>
          </p>
        <p class="desc--content overflow">
          {{post.content}}
        </p>
        <span class="desc--footer">

            <a href="{% url 'blog-detail' post.id %}" class="btn btn--accent btn--readmore"
              >Read</a
            >
        </span>
      </div>
    </div>
    {% endfor %} 
  </section>
{% endblock content %}
