
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap"
        rel="stylesheet"
      />
      <title>Forgot Password - PostnSpire</title>
      <link rel="stylesheet" href="{% static 'styles/normalize.css' %}" />
      <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>
  <section class="inherited-form">
  	<div class="form-container">
    
      <h2 class="success-h">We have sent a mail with a link to reset your password</h2>
			
  	</div>
  </section>
