
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap"
        rel="stylesheet"
      />
      <title>Login - PostnSpire</title>
      <link rel="stylesheet" href="{% static 'styles/normalize.css' %}" />
      <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  </head>
  <section class="inherited-form">
    <div class="form-container">
      <form id="form" method='post' class="form">
      {% csrf_token %}
      <h2>Forgot Password - PostnSpire</h2>
      <div class="formcontrol">
        {{form.as_ul}}
      </div>
        <button class="fbtn" type="submit">Send link</button>
      <br>
          <p class="hyperlinkinform">Remember your password?
          <a href="{% url 'login' %}">Login</a></p>
      </form>
    </div>
  </section>
