
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap"
        rel="stylesheet"
      />
      <title>Forgot Password - Ublog</title>
      <link rel="stylesheet" href="{% static 'styles/normalize.css' %}" />
      <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>
  <section class="inherited-form">
  	<div class="form-container" style="text-align: center;">
    
      <h3 class=" success-h" style="padding-bottom: 0;">Password has been reset! Login with your new password </h3>
      <div style="margin-bottom: 2rem; color: #1a2238;">
        <a  href="{% url 'login' %}">Login Here!</a>
      </div>

			
  	</div>
  </section>
