
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap"
        rel="stylesheet"
      />
      <title>Login - PostnSpire</title>
      <link rel="stylesheet" href="{% static 'styles/normalize.css' %}" />
      <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
      <style>
        ul {
          display: none;
        }
      </style>
  </head>
  <section class="inherited-form">
    <div class="form-container">
      <form id="form" method='post' class="form">
      {% csrf_token %}
      <h2>Forgot Password - PostnSpire</h2>
      <div class="formcontrol">
        {{form}}
      </div>
        <button class="fbtn" type="submit">Reset</button>
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <label class="success-p">{{message}}</label>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <label class="error-p">{{message}}</label>
        {% endif %}
      {% endfor %}
      <br>
          <p class="hyperlinkinform">Don't have an account?
          <a href="{% url 'signup' %}">Signup</a></p>
      </form>
    </div>
  </section>
