{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap"
        rel="stylesheet"
      />
      <title>Signup - PostnSpire</title>
      <link rel="shortcut icon" href="">
      
      <link rel="stylesheet" href="{% static 'styles/normalize.css' %}" />
      <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
      
    </head>



      <section class="inherited-form" style="min-height: 90vh;">
      <div class="form-container">
        <form id="form" action="../signup/" method='post' class="form">
          {% csrf_token %}
        <h2>Signup</h2>
        <div class = "formcontrol">
          <label for="username">Username</label>
          <input type="text" placeholder="enter your username" id="username" name="username" onkeyup="checkUsername()">
          <small>Error Message</small>
        </div>
        <div class="formcontrol">
          <label for="email">email</label>
          <input type="text" placeholder="Enter your Email" id="email" name="email" onkeyup="checkEmail()">
          <small>Error Message</small>
        </div>
        <div class = "formcontrol">
          <label for="password">Password</label>
          <input type="password" placeholder="Enter your password" id="password" name="password" onkeyup="checkLength()">
          <small>Error Message</small>
        </div>
        <div class="formcontrol">
          <label for="cpass">Confirm Password</label>
          <input type="password" placeholder="Enter password again..." id="cpass" name="cpass" onkeyup="checkPass()">
          <small>Error Message</small>
        </div>
        <button class="fbtn" type="submit">Register</button>
          {% for message in messages %}
            <label class="error-p">{{message}}</label>
          {% endfor %}
          <br>
          <p class="hyperlinkinform">Already have an account? 
          <a href="{% url 'login' %}">Login</a></p>

        </form>

      </div>
      <script src="{% static 'js/script.js' %}"></script>
      </section>
</html>